.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 282px;
  height: 361px;
  overflow: hidden;
  background-color: #fff;
  border-radius: 10px;
}

.cards__imagen {
  max-width: 282px;
  height: 282px;
  object-fit: cover;
}
