.header {
  display: flex;
  flex-direction: column;
  align-content: center;
  max-width: 880px;
  width: 100%;
  height: 74px;
  margin: 0 200px;
  padding-top: 45px;
  padding-bottom: 40px;
}

.header__logo {
  width: 173px;
  height: 33px;
  margin-bottom: auto;
}

.header__line {
  height: 0;
  border: 1px solid #545454;
  opacity: 70%;
}

@media screen and (min-width: 320px) and (max-width: 544px) {
  .header {
    padding-top: 28px;
    padding-bottom: 42px;
    margin: 0;
    width: 100%;
    height: 56px;
  }

  .header__logo {
    width: 126px;
    height: 24px;
    margin-left: 27px;
  }
}

@media screen and (min-width: 545px) and (max-width: 768px) {
  .header {
    padding-top: 28px;
    padding-bottom: 42px;
    margin: 0;
    width: 100%;
    height: 56px;
  }

  .header__logo {
    width: 126px;
    height: 24px;
    margin-left: 27px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1025px) {
  .header {
    padding-top: 28px;
    padding-bottom: 42px;
    margin: 0 auto;
    width: 100%;
    height: 56px;
  }

  .header__logo {
    width: 126px;
    height: 24px;
    margin-left: 27px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
  .header {
    margin: 0 auto;
  }
}
